<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <ul class="navbar-nav flex-row-reverse me-auto">
      <li class="nav-item">
        <a routerLink="/messeges" class="nav-link ico-bg rounded me-2 dot-icon" aria-current="page" href="#"><i class="fa-solid fa-envelope fa-lg ico-color"></i></a>
      </li>
      <li class="nav-item">
        <a routerLink="/notifications" class="nav-link ico-bg rounded dot-icon me-4" href="#"><i class="fa-solid fa-bell fa-xl ico-color"></i></a>
      </li>
      <div class="search-container ms-1">
        <div class="input-group" (mouseenter)="toggleSearchInput(true)" (mouseleave)="toggleSearchInput(false)">
          <input type="text" class="form-control search-input rounded-start-1" placeholder="ابحث..." [ngClass]="{'active': isSearchInputActive}">
          <li class="nav-item input-group-append rounded">
            <a class="btn btn-outline-secondary nav-link" type="button" (click)="toggleSearchInput(!isSearchInputActive)">
              <i class="fa-solid fa-magnifying-glass fa-xl text-white"></i>
            </a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav>
